name: teste ze
run-name: ${{ github.actor }} is testing allure 

on: [push]

jobs:
  Setup:
    runs-on: ubuntu-latest
    outputs:
      java_version: '17'
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

  Build:
    runs-on: ubuntu-latest
    needs: Setup
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Maven Verify
        run: mvn clean compile -f pom.xml

  HealthCheck:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Build com Maven
        run: mvn -B package -f pom.xml

      - name: Executar teste de Health check
        run: mvn test -Phealth -Dallure.results.directory=allure-results/health -DtestFailureIgnore=false

      - name: Verificar conte煤do de allure-results
        run: ls -R allure-results/health

      - name: Upload functional test results
        uses: actions/upload-artifact@v4.6.0
        with:
          name: functional-results-health
          path: allure-results/health

  Contrato:
    runs-on: ubuntu-latest
    needs: HealthCheck
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Executar teste de contrato de listar usuario
        run: mvn test -Pcontrato -Dallure.results.directory=allure-results/contrato -DtestFailureIgnore=false

      - name: Verificar conte煤do de allure-results
        run: ls -R allure-results/contrato

      - name: Upload functional test results
        uses: actions/upload-artifact@v4.6.0
        with:
          name: functional-results-contrato
          path: allure-results/contrato

  Funcional:
    runs-on: ubuntu-latest
    needs: Contrato
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Executar teste funcionais
        run: mvn clean test -Dallure.results.directory=allure-results/funcional  -f pom.xml

      - name: Verificar conte煤do de allure-results
        run: ls -R allure-results/funcional

      - name: Upload functional test results
        uses: actions/upload-artifact@v4.6.0
        with:
          name: functional-results-funcional
          path: allure-results/funcional

      - run: echo " This job's status is ${{ job.status }}."

  Reports:
    runs-on: ubuntu-latest
    needs: [ Build, HealthCheck, Contrato, Funcional ]
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Carregar hist贸rico do relat贸rio de testes
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Construir relat贸rio de testes Allure
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      - name: download functional test results
        uses: actions/download-artifact@v4.6.0
        with:
          name: functional-results
          path: allure-results/funcional

      - name: download contrato test results
        uses: actions/download-artifact@v4.6.0
        with:
          name: functional-results
          path: allure-results/contrato

      - name: download health test results
        uses: actions/download-artifact@v4.6.0
        with:
          name: functional-results
          path: allure-results/health

      - name: Merge test results
        run: |
          mkdir -p allure-results
          cp -r allure-results/health/* allure-results/ || true
          cp -r allure-results/contrato/* allure-results/ || true
          cp -r allure-results/funcional/* allure-results/ || true

      - name: Publicar relat贸rio de testes
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          personal_token: ${{ secrets.PAT_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history