name: teste ze
run-name: ${{ github.actor }} is testing allure 

on: [push]

jobs:
  Setup:
    runs-on: ubuntu-latest
    outputs:
      java_version: '17'
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

  Build:
    runs-on: ubuntu-latest
    needs: Setup
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Maven Verify
        run: mvn clean compile -f pom.xml

  HealthCheck:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Build com Maven
        run: mvn -B package -f pom.xml

      - name: Executar teste de Health check
        run: mvn test -Phealth -Dallure.results.directory=allure-results/health -DtestFailureIgnore=false

      - name: Verificar conte煤do de allure-results
        run: |
          ls -R allure-results/health || echo "Nenhum resultado encontrado em allure-results/health"

      - name: Upload functional test results
        uses: actions/upload-artifact@v4
        with:
          name: functional-results-health
          path: allure-results/health

  Contrato:
    runs-on: ubuntu-latest
    needs: HealthCheck
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Executar teste de contrato de listar usuario
        run: mvn test -Pcontrato -Dallure.results.directory=allure-results/contrato -DtestFailureIgnore=false

      - name: Verificar conte煤do de allure-results
        run: |
          ls -R allure-results/contrato || echo "Nenhum resultado encontrado em allure-results/contrato"

      - name: Upload functional test results
        uses: actions/upload-artifact@v4
        with:
          name: functional-results-contrato
          path: allure-results/contrato

  Funcional:
    runs-on: ubuntu-latest
    needs: Contrato
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: 'oracle'
          java-version: 17

      - name: Executar teste funcionais
        run: mvn clean test -Dallure.results.directory=allure-results/funcional -f pom.xml

      - name: Verificar conte煤do de allure-results
        run: |
          ls -R allure-results/funcional || echo "Nenhum resultado encontrado em allure-results/funcional"

      - name: Upload functional test results
        uses: actions/upload-artifact@v4
        with:
          name: functional-results-funcional
          path: allure-results/funcional

      - run: echo " This job's status is ${{ job.status }}."

  allure-report:
    needs: [build, healthcheck, contract-tests, functional-tests]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: actions/checkout@v4

      - name: Download Allure Results
        uses: actions/download-artifact@v4
        with:
          name: built-project
          path: target/

      - name: Generate Allure Report
        run: mvn allure:report

      - name: Upload Allure Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site/allure-maven/

      - name: Deploy Allure Report to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./target/site/allure-maven
          keep_files: false